.wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.main-header {
  grid-area: header;
}

.main-content {
  grid-area: content;
}

.main-footer {
  grid-area: footer;
}
